<div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(home.png);">
        <div class="container">
            <h1><strong>Quel Resto ?</strong></h1>
            <p>Les meilleurs restaurants de Paris à porter de click !</p>
            <%= link_to 'Les Restaurants', restaurants_path, {:class=>"btn btn-success"} %>
        </div>
    </div>
</div>
